doctype html
head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    style.
        * {
        box-sizing: border-box;
        }
        .float-container {
        border: 2px solid #fff;
        padding: 5px;
        }
        .float-child {
        width:  #{1.0/data.inst.num_cache*100}%;
        float: left;
        padding: 10px;
        border: 1px solid grey;
        }
        .float-child-two-col {
        width:  50%;
        float: left;
        padding: 10px;
        border: none;
        }
        table, th, td {
        border: 1px solid black;
        }
        td 
        {
            text-align: center; 
            vertical-align: middle;
            height: 50px; 
            width: 50px;
        }
        table{
        width: 100%
        }
        textarea{
            height: 100%;
            width: 100%;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
        }
        search {
            width: 20em;  height: 2em;
        }
body
    h2 Cache Coherence Simulator
    h3 Protocal: MSI
    p M-modifed | S-shared | I-invalid
    form(action='/reset' method='post')
        input(type='submit', value='Reset' style='float: right; margin-right: 2.5em; height:40px; width:50pxl; background-color: #4CAF50;' )
    - var lineNum = data.inst.cache_size/data.inst.line_size
    - var ncol = 0;
    ul
    form(action='/' method='post')
        .float-container
        while ncol++ < data.inst.num_cache
            .float-child
                h2(style="float: left;") Node #{ncol}
                p(style="float: right;") # Hits: 0 &nbsp &nbsp # Misses: 0 &nbsp &nbsp
                table
                    tbody
                    tr
                        - var irow = 0;
                        td State
                        while irow++ < lineNum
                            td #{data.cache[ncol-1].cache[irow-1].protocol}
                    tr
                        - var irow = 0;
                        td Addr
                        while irow++ < lineNum
                            td #{data.cache[ncol-1].cache[irow-1].addr}
                h3 Instructions
                label(for='instr') 
                textarea#instr(name='instr', rows='10')
                br
                input(type='hidden' name='node_id' value=ncol)
            
        .float-container
            .float-child-two-col
            .float-child-two-col

                .float-container
                    .float-child-two-col
                        label(for='cache_type') 
                            h4 Cache configuration:
                                select#cache_type(name='cache_type')
                                    if data.inst.cache_type == 'c'
                                        option(value='c' selected) Custom
                                    else
                                        option(value='c') Custom
                                    if data.inst.cache_type == 'd'
                                        option(value='d' selected) Direct
                                    else
                                        option(value='d') Direct
                                    if data.inst.cache_type == 'f'
                                        option(value='f' selected) Fully
                                    else
                                        option(value='f') Fully
                        label(for='num_cache') 
                            h4 Number of nodes:
                                select#num_cache(name='num_cache')
                                    if data.inst.num_cache == '1'
                                        option(value='1' selected) 1
                                    else
                                        option(value='1') 1
                                    if data.inst.num_cache == '2'
                                        option(value='2' selected) 2
                                    else
                                        option(value='2') 2
                                    if data.inst.num_cache == '3'
                                        option(value='3' selected) 3
                                    else
                                        option(value='3') 3
                        label(for='cache_size') 
                            h4 Cache Size (B):
                                select#cache_size(name='cache_size')
                                    if data.inst.cache_size == '128'
                                        option(value='128' selected) 128
                                    else
                                        option(value='128') 128
                                    if data.inst.cache_size == '256'
                                        option(value='256' selected) 256
                                    else
                                        option(value='256') 256
                                    if data.inst.cache_size == '512'
                                        option(value='512' selected) 512
                                    else
                                        option(value='512') 512
                    .float-child-two-col
                        label(for='line_size') 
                            h4 Block Size (B):
                                select#line_size(name='line_size')
                                    if data.inst.line_size == '8'
                                        option(value='8' selected) 8
                                    else
                                        option(value='8') 8
                                    if data.inst.line_size == '16'
                                        option(value='16' selected) 16
                                    else
                                        option(value='16') 16
                        label(for='mem_size') 
                            h4 Memory Size (B):
                                select#mem_size(name='mem_size')
                                    if data.inst.mem_size == '512'
                                        option(value='512' selected) 512
                                    else
                                        option(value='512') 512
                        label(for='cache_way') 
                            h4 Number of cache way:
                                select#cache_way(name='cache_way')
                                    if data.inst.cache_way = '2'
                                        option(value='2' selected) 2
                                    else
                                        option(value='2') 2
                                    if data.inst.cache_way = '4'
                                        option(value='4' selected) 4
                                    else
                                        option(value='4') 4
            input(type='hidden' name='data' value=data)
            if data.inst.reset == 0
                input(type='submit' value='Set' style='float: right; margin-right: 1em;height:40px; width:50px; background-color: lightblue;')
            else 
                input(type='submit' value='Step' style='float: right; margin-right: 1em;height:40px; width:50px; background-color: lightblue;')
